.results-odds {
    display: flex;
    flex-direction: row;
}

.results-odds .results-odds-table {
    flex: 1 1 100%;
}

.results-odds .results-odds-pods {
    flex: 0 0 auto;
    max-width: 300px;
}

.results-odds-pods.header {
    font-size: 17px;
    line-height: 26px;
    font-family: FF Daxline Pro;
    font-weight: 200;
    color: #012406;
    text-transform: none;
}

.results-odds-pods p {
    font-size: 14px;
    line-height: 21px;
    font-family: FF Daxline Pro;
    font-weight: 200;
    color: #012406;
}